body {
    text-align: center;
}

.page {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
}
.card {
    width: 200px;
    padding: 20px;
    border: 1px solid black;
    text-align: center;
    border-radius: 10px;
    font-size: 20px;
    font-weight: bold;
}
.card img {
    width: 100px;
    height: auto;
}
#btn {
    margin-top: 20px;
    background-color: rgb(0, 145, 255);
    cursor: pointer;
    border: none;
    padding: 20px 60px;
    border-radius: 10px;
    font-size: 22px;
    color: white;
}